body {
    padding: 40px;
    background-color: rgb(255, 255, 255);
  }
  
  .movie-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px; /* Rounded corners for a softer look */
    overflow: hidden;
    text-align: left;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); /* Slightly stronger shadow for depth */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width:90%;
    max-width: 220px; /* Increased max-width for a more spacious look */
    min-height: 450px;
    margin: 0 auto;
    padding: 16px; /* Added internal padding for better spacing */
   
  }
  
  .movie-card:hover {
    transform: translateY(-2px); /* A bit more pronounced hover effect */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Stronger shadow for hover */
  }
  
  .movie-poster {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px; /* Soft corners for the image */
  }
  
  .movie-title {
    font-size: 1.2rem; /* Slightly larger title */
    margin-top: 10px;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
  }
  
  .movie-overview {
    font-size:14px;
    margin-top: 8px;
    color: #666;
    
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Increase lines to show more text */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f8f9fa;
    border-radius: 12px; /* Smoother edges for the container */
  }
  
  .movie-container {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 0;
    margin: 0;
  }
  
  .container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  @media (max-width: 768px) {
    .movie-card {
      max-width: 100%; /* Full width for smaller screens */
      margin: 0 auto;
    }
  }
  
  @media (max-width: 480px) {
    .movie-card {
      max-width: 100%; /* Full width for very small screens */
      margin: 0 auto;
    }
  }
  
  .movie-title{
    font-size: 15px !important;
  }